@import "variables";

.default-input-el {
  border: 1px solid;
  background-color: #fff;
  padding: 0.5em;
}

.text-secondary {
  color: $text-color-secondary;
}

.text-primary {
  color: #000;
  font-size: 1.8rem;
}

hr {
  border-top: 1px solid black;
  width: 55%;
  margin-top: 20px;
}
