@import "variables";
@import "fonts";
@import "defaults";

body {
  width              : 95%;
  margin             : auto;
  display            : grid;
  grid-template-rows : auto 1fr auto;
  min-height         : 100vh;
  padding            : 0 5% 0 5%;
  box-shadow         : 2px 0 8px 0 $secondary-color,
  -2px 0 8px 0 $secondary-color;
  font-family        : 'PT Sans', sans-serif;
}

.arrow {
  width  : 70px;
  height : 120px;
  cursor : pointer;
}

.reverse {
  transform : rotate(180deg);
}

.text-primary {
  margin-top : 10px;
}

.add-teacher-btn {
  justify-self : end;
  padding      : 0.75em;
  color        : $primary-color;
  font-weight  : bold;

  &:hover {
    background-color : $primary-color;
    color            : #fff;
  }
}

.pagination {
  display         : flex;
  justify-content : center;
  align-items     : center;
}

.list-wrapper {
  margin          : 10px auto 20px auto;
  display         : flex;
  width           : 70%;
  align-items     : center;
  justify-content : space-evenly;
}

.teachers-wrapper {
  margin-left     : 10%;
  width           : 90%;
  display         : flex;
  align-items     : center;
  flex-flow       : row wrap;
  justify-content : start;
}

.circle {
  display         : flex;
  align-items     : center;
  justify-content : center;
  margin-top      : 20px;
  width           : 140px;
  height          : 140px;
  border-radius   : 50%;
  border          : 3px solid $primary-color;
  transition      : all 0.2s ease-in-out;

  &:hover {
    transform : scale(1.1);
  }

  > p {
    color       : $primary-color;
    font-size   : 150%;
    font-weight : bold;
  }
}

.star {
  width    : 30px;
  height   : 30px;
  position : absolute;
  right    : 5%;
  top      : -2%;
}

.simple-teacher {
  position       : relative;
  display        : flex;
  flex-direction : column;
  align-items    : center;
  margin-right   : 50px;

  > span {
    color : $text-color-secondary;
  }

  > * {
    margin-top : 10px;
  }

  img {
    margin-top : 25px;
  }
}

header {
  margin-bottom         : 20px;
  padding-top           : 30px;
  display               : grid;
  grid-template-columns : 1fr 1fr;
  grid-row-gap          : 15px;
  grid-column-gap       : 20px;

  div.logo {
    justify-self : start;

    h2 {
      font-family : 'Playfair Display', serif;
      font-size   : 2em;
      color       : #fff;
      text-shadow : $primary-color 2px 1px, black 3px 2px;
    }
  }

  div.links_wrapper {
    justify-self : start;
    align-items  : center;
    display      : flex;
    flex-wrap    : wrap;

    a {
      margin-right : 20px;
      cursor       : pointer;
      color        : $primary-color;
    }
  }

  div.search_wrapper {
    justify-self    : end;
    display         : flex;
    justify-content : flex-end;
    flex-wrap       : wrap;

    button {
      color      : $primary-color;
      text-align : center;

      &:hover {
        background-color : $primary-color;
        color            : #fff;
      }
    }

    input {
      color  : $secondary-color;
      margin : 0 15px 0 0;
    }
  }
}

article {
  display        : flex;
  align-items    : center;
  flex-direction : column;

  .separator {
    border-right : 2px solid $text-color-secondary;
    height       : 15px;
  }

  .filter-wrapper {
    margin-top  : 20px;
    width       : 100%;
    display     : flex;
    align-items : center;
  }

  .filter-wrapper > * {
    margin-right : 20px;
  }

  div.stats-pagination {
    margin-top   : 20px;
    width        : 80%;
    padding-left : 20px;

    span {
      margin-right : 20px;
      color        : $text-link-color;
      cursor       : pointer;
    }

    span.active {
      color : #000;
    }
  }

  table.statistics-table {
    margin-top : 20px;
    width      : 80%;

    tr {
      text-align     : left;
      margin-left    : 20px;
      height         : 25px;
      vertical-align : middle;
    }

    tr.top-tr {
      border-bottom  : 1px solid #000;
      height         : 30px;
      vertical-align : baseline;
    }

    tr.secondary {
      background-color : $table-row-secondary-color;
    }

    td {
      color        : $text-color-secondary;
      padding-left : 20px;
    }

    th {
      padding-left : 20px;
    }
  }
}

.add-button {
  text-decoration : none;
  font-weight     : bold;
  font-size       : 17px;
  color           : #f75c49;
  border          : 1px #f99589 solid;
  padding         : 3px;
  width           : 170px;
  height          : 50px;
  display         : flex;
  align-items     : center;
  justify-content : center;
  float           : right;
  cursor          : pointer;
}

.add-button:hover {
  color            : #ffffff;
  background-color : #f75c49;
}

#add-form, #info-card {
  position : relative;
}

.popup {
  position         : fixed;
  left             : 50%;
  top              : -1%;
  transform        : translate(-50%, 5%);
  z-index          : 9;
  border           : 1px solid #8d8d8d;
  background-color : #ffffff;
  box-shadow       : 2px 3px 5px #bababa, -1px -2px 2px #bababa;
  max-width        : 600px;
}

.popup {
  display : none;
}

.personal-info {
  display     : flex;
  align-items : center;
  width       : 100%;
  margin      : 20px 0 20px;

  > section {
    margin-left     : 10%;
    height          : 100%;
    display         : flex;
    justify-content : space-evenly;
    flex-direction  : column;
  }
}

.popup-header {
  position   : relative;
  margin-top : 15px;
}

.popup {
  overflow-y : scroll;
}

#info-popup {
  width : 650px;

  #card {
    padding-left  : 10%;
    margin-bottom : 5%;

    #avatar {
      width  : 300px;
      height : 300px;
      float  : left;
    }

    #info-caption {
      font-size       : 35px;
      display         : flex;
      flex-direction  : row;
      justify-content : space-between;
    }

    #personal-info {
      margin-top  : 15px;
      align-items : flex-start;

      p {
        margin-bottom : 22px;
      }

      a {
        color : $secondary-color;
      }
    }

    #other {
      float           : left;
      display         : flex;
      flex-direction  : column;
      justify-content : center;

      p {
        margin-bottom : 15px;
      }

      a {
        color         : $secondary-color;
        padding       : 2px;
        border-bottom : 1px $secondary-color dashed;
        width         : 16%;
      }

      #map {
        display : none;
        width   : 350px;
        height  : 250px;
      }
    }
  }
}

.popup-header h2 {
  width      : 100%;
  text-align : center;
  border     : 0;
  font-size  : 28px;
  margin-top : 0;
}

.popup-header a {
  position     : absolute;
  right        : 0;
  top          : 15%;
  margin-right : 25px;
  font-size    : 21px;
  color        : #000000;
  cursor       : pointer;
}

#add-popup {
  width  : 400px;
  height : 740px;
}

#add-popup form {
  width  : 240px;
  margin : auto;
}

#add-popup form > label:not(#gender-label), #add-popup form > input, #add-popup form > select {
  width   : 100%;
  display : inline-block;
}

#add-popup form label {
  text-align    : left;
  display       : inline;
  margin-bottom : 10px;
  margin-top    : 15px;
}

#add-popup form input, #add-popup form select {
  height : 32px;
}

#add-popup form .choice-div {
  display         : flex;
  align-items     : center;
  justify-content : space-between;
  margin-top      : 15px;
}

#add-popup form .choice-div legend {
  float : left;
}

#add-popup form #gender-container {
  display     : flex;
  align-items : center;
}

#add-popup form #gender-container label {
  margin-right : 8px;
  margin-left  : 8px;
}

#add-popup form #submit-teacher {
  width            : 100%;
  height           : 62px;
  background-color : #ffffff;
  margin-top       : 45px;
}

#add-popup form #submit-teacher:hover {
  background-color : #cc4836;
}

#info-popup {
  width : calc(1200px - 450px);
}

#info-popup #card #avatar {
  width  : 200px;
  height : 200px;
  float  : left;
}

#info-popup #card #info-caption {
  font-size       : 35px;
  display         : flex;
  flex-direction  : row;
  justify-content : space-between;
}

#info-popup #card #personal-info p {
  margin-bottom : 22px;
}

#info-popup #card #personal-info a {
  color : #1c8fad;
}

#info-popup #card #other {
  float : left;
  width : 100%;
}

#info-popup #card #other p {
  margin-bottom : 15px;
}

#info-popup #card #other a {
  color         : #1c8fad;
  padding       : 2px;
  border-bottom : 1px #1c8fad dashed;
}

#info-popup #card #other #map {
  display : none;
  width   : 350px;
  height  : 250px;
}

.no-margin {
  margin-right : 0;
}

footer {
  div.footer-text-wrapper {
    display        : flex;
    flex-direction : column;
    text-align     : start;

    span.text-secondary {
      margin-bottom : 8px;
    }
  }

  div.footer-link-wrapper {
    display         : flex;
    justify-content : space-between;
    align-items     : center;

    a {
      margin-right : 30px;
      cursor       : pointer;
      color        : $text-link-color;
    }
  }
}

@media only screen and (max-width : 994px) {
  .teachers-wrapper {
    margin-left     : 0;
    justify-content : center;
  }

  .hidden-on-tablet {
    display : none;
  }
}

@media only screen and (max-width : 768px) {
  .popup-header a {
    top : -28%;
  }

  .add-button {
    font-size : 15px;
    width     : calc(100vw - 500px);
    min-width : 100px;
    max-width : 150px;
  }

  #info-header h2, #add-header h2 {
    font-size  : 20px;
    margin-top : 0;
  }
  #info-header a, #add-header a {
    margin-right : 30px;
    margin-top   : 30px;
    font-size    : 20px;
  }

  #add-popup {
    margin-top : 5%;
    transform  : translate(-50%, 1%);
    max-width  : calc(100vw - 200px);
    min-width  : 300px;
    height     : 600px;
    box-shadow : 2px 3px 5px #bababa, -1px -2px 2px #bababa;
  }
  #add-popup h2 {
    padding-bottom : 15px;
  }
  #add-popup a {
    margin : 20px 20px 0 0;
  }
  #add-popup form {
    width : 80%;
  }
  #add-popup form label {
    margin-bottom : 5px;
    margin-top    : 10px;
  }
  #add-popup form input, #add-popup form select {
    height : 25px;
  }
  #add-popup form .choice-div {
    margin-top : 7px;
  }
  #add-popup form #gender-container label {
    margin-right : 5px;
    margin-left  : 5px;
  }
  #add-popup form #submit-teacher {
    height      : 50px;
    width       : 80%;
    margin-top  : 20px;
    margin-left : 20%;
    float       : none;
  }

  .popup {
    top : 7%;
  }

  #info-popup {
    width      : calc(100vw - 50px);
    transform  : translate(-50%, 2%);
    box-shadow : 2px 3px 5px #bababa, -1px -2px 2px #bababa;
  }
  #info-popup #card #avatar {
    width  : 150px;
    height : 150px;
  }
  #info-popup #card #info-caption {
    font-size : 20px;
  }
  #info-popup #card #info-caption #fav-star {
    width  : 20px;
    height : 20px;
  }
  #info-popup #card #personal-info {
    margin-top : 20px;
  }
  #info-popup #card #personal-info p {
    margin-bottom : 10px;
  }
  #info-popup #card #other {
    margin-left : 50px;
  }
  #info-popup #card #other p {
    margin-bottom : 10px;
  }
  #info-popup #card #other a {
    margin-bottom : 20px;
    padding       : 2px;
  }
  #info-popup #card #other #map {
    width  : 350px;
    height : 200px;
  }
}

@media only screen and (max-width : 572px) {
  body {
    box-shadow : none;
  }

  hr {
    width : 90%;
  }

  .hidden-on-mobile {
    display : none;
  }

  .search_wrapper {
    flex-direction : column;

    input {
      margin : 0 0 15px 0 !important;
    }
  }
}

@media only screen and (max-width : 390px) {
  button.add-teacher-btn {
    align-self : center;
  }
}
